
@import "tailwindcss";
@import "tailwindcss";
@tailwind utilities;

@font-face {
  font-family: "Epilogue";
  src: url("/fonts/Epilogue-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

/* Italic Epilogue */
@font-face {
  font-family: "Epilogue";
  src: url("/fonts/Epilogue-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .btn-job {
    @apply rounded-full py-1 px-3 text-xs font-bold tracking-wider cursor-pointer;
  }

  .card {
    @apply rounded-2xl bg-white border-1 border-gray-200  p-4 shadow-sm;
  }
}
